/* 
Seletor do 'body' do html 
backgroud = propriedade
url = função
*/
body {
  /*
   Por padrão, esta propriedade repete as imagens 
  background-image: url(./assets/bg-mobile.jpg);
   Então com a propriedade abaixo t iremos esta repetição 
  background-repeat: no-repeat;
   Com a linha abaixo centralizamos a imagem no topo e centro 
  background-position: center;
  E com a linha abaixo, fazemos com que a imagem preencha toda a tela 
  background-size: cover;
  */

  /* Abaixo, agrupamos todas as linhas acima. Ordem:
    background: color image repeat position/size 
    Nome dessa técnica: shorthand ou atalho
  */
  background: url(./assets/bg-desktop.jpg) no-repeat top center/cover;
}

#container{
  width: 360px;
  border: 1px solid red;
  /* A propriedade 'margin' consegue alinhas aos lados e abaixo, mas não em cima... */
  margin: auto;
}
/* Uma outra maneira de alinhar a imagem, é alinhando o conteúdo
contido na div 'pai', que é a div profile. Assim, alinho todo o conteúdo
contido nesta div. */
#profile{
  text-align: center;
}
/* id da div "profile" e a propriedade "img" dentro dela */
#profile img{
  /*display: block; /*
  /* Geralmente no CSS definimos apelas a largura e não a altura (width, height),
  pois a altura geralmente segue o conteúdo da página. */
  width: 112px;
  /* Como a 'div' é, por padrão, displai = inline, então para centralizar
  a imagem é necessário usar, acima, o display = blocl. */
  /*margin: auto; */
  
}



