/* Removendo as medidas padrão do navegador */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* 
Seletor do 'body' do html 
backgroud = propriedade
url = função
*/
body {
  /*
   Por padrão, esta propriedade repete as imagens 
  background-image: url(./assets/bg-mobile.jpg);
   Então com a propriedade abaixo t iremos esta repetição 
  background-repeat: no-repeat;
   Com a linha abaixo centralizamos a imagem no topo e centro 
  background-position: center;
  E com a linha abaixo, fazemos com que a imagem preencha toda a tela 
  background-size: cover;
  */

  /* Abaixo, agrupamos todas as linhas acima. Ordem:
    background: color image repeat position/size 
    Nome dessa técnica: shorthand ou atalho
  */
  background: url(./assets/bg-desktop.jpg) no-repeat top center/cover;
}
/* * = seletor universal */
body * {
  font-family: "Inter", sans-serif;
  color: white;
}
#container {
  width: 360px;
  /* A propriedade 'margin' consegue alinhar aos lados e abaixo, mas não em cima... */
  /* O 'margin' contém dentro dele todos os lados abaixo, na ordem de um relógio.
  margin-top: 56px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;

  O atributo 'margin' possui alguns tricks, como abaixo: 
  Aqui, é feito 56px no top, auto nas laterais e 0px no bottom. */
  margin: 56px auto 0px;
  padding: 0 24px;
}
/* Uma outra maneira de alinhar a imagem, é alinhando o conteúdo
contido na div 'pai', que é a div profile. Assim, alinho todo o conteúdo
contido nesta div. */
#profile {
  text-align: center;
  padding: 24px;
}

#profile p {
  font-weight: 600;
  /* Por padrão, os navegadores já possuem font-size de 16px, ent n é cessário por
  font-size: 16px; */
  line-height: 24px;
  margin-top: 8px;
}
/* id da div "profile" e a propriedade "img" dentro dela */
/* Imagem de perfil */
#profile img {
  width: 216px;
  height: 213px; /* Adicionando altura igual à largura para garantir um círculo */
  border-radius: 50%; /* Define a borda para criar um círculo */
  display: block;
  margin: auto;
}
/* Removendo o 'botaozinho' de lista */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  /*height: 52px;*/
  padding: 16px 24px;
  /* cor dos botões */
  background: rgba(255, 255, 255, 0.1);
  /* cor das pontas dos botões */
  border: 1px solid rgba(255, 255, 255, 0.7);
  /* borda dos botões */
  border-radius: 10px;
  /* blur levemente adicionado ao botão */
  backdrop-filter: blur(4px);
  /* removendo a linha abaixo dos textos dos links */
  text-decoration: none;
  /* aumentando um pouco o 'tamanho' da fonte */
  font-weight: 500; /* ou bold */
  /* transição para 'movimentação' entre os botões na página */
  transition: background 0.5s;
}
/* pseudo-selector */
ul li a:hover {
  /* efeito no botão */
  background: rgba(255, 255, 255, 0.05);
  /* efeito nas bordas do botão */
  border: 1px solid aqua;
}

#social-links {
  /* alinhando ao meio */
  display: flex;
  justify-content: center;
  /* posição */
  padding: 24px 0;
  /* tamanho dos ícones */
  font-size: 24px;
}
/* alinhando o icone */
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
}
